@import "~bootstrap/scss/bootstrap.scss";

#app{
    background-color: beige; 
}

h1 {
    text-align: center;
    color: burlywood; 
}
form{
    text-align: center;
}
.btn-delete{
    margin-left:auto;
    
}