@import "~bootstrap/scss/bootstrap.scss";

#app{
    
    background-color: beige; 
    width: 850px;
    margin: auto;
   
  
}
 .Content {
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 
}

h1 {
    text-align: center;
    color: burlywood; 
}
form{
    text-align: center;
}
.btn-delete{
    margin-left:auto;
    
}
.todo-item{
    display: flex;
    width: 100%;
    
}
